extends layout

block content
  h1= title
  p this is a login screen
  form(method="POST")
    table
      tr
        td username
        td 
          input(type="text", name="username")
      tr
        td password
        td 
          input(type="password", name="password")
    input(type="submit")

