body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
div.pillar{
	float: left;
	width: 30%;
	text-align: center;
	border: solid;
	border-color: silver;
}
